header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: $headerBackColor;


  nav {
    justify-content: center;
    display: flex;
    gap: 30px;

    .active {
      font-weight: bold;
      color: black;
    }
  }
}