<div class='home'>
  <h2>
    Для большего разнообразия я выполнил тестовое задание двумя путями.
  </h2>
  <p>
    В роуте "pinia" данные с сервера запрашиваются один раз при инициализации страницы, записываются в стор, и
    дальше уже идёт фильтрация и выборка элемента для модального окна без обращения к API сразу в процессе набора данных
    в строке поиска.
  </p>
  <p>
    В роуте "fetch" данные каждый раз запрашиваются с API. Поэтому фильтрация списка происходит только по нажатию кнопки
    с лупой.

  </p>
</div>